.container {
	padding:20px;

	.container-content {
		margin:0 auto 20px;
	}
	&.img-text {
		
		.img-wrapper {
			margin:-20px;
			margin-bottom:0px;
			img {
				max-width:100%;
			}
		}
		.text {

			p:last-child {
				margin-bottom:0px;
			}
		}
	}
	&.testamonials {
		.container-content { position:relative; 
			h2 { position:relative;z-index:2; }

		}
		i {
			color: $brand-orange; 
			position:absolute;
			&.fa-quote-left {
				left: 50%;
			    margin-left: -167px;
			    top: -25px;
			    font-size: 45px;
			    z-index: 1;
			}
			&.fa-quote-right {
				right:0px;
			}
		}
		p { position:relative; 
			text-align:center;
			span {
				display:block;
				margin-top:15px;
			} 
		}
	}
	&.portfolio {
	
	/*	margin-top:-20px;*/
		
	}
	@include media(tablet) {
		padding:40px;
		padding-bottom:30px;
		.container-content { width:80%; margin-bottom:40px;}
		.container-img { 	
			margin-left:-30px;
			margin-top:-30px; 
			flex:0 0 66.6%;
		}
	}
}
.self-portrait {
	filter: grayscale(1);
	width:40%;
	opacity:0.5;
	margin:0 auto;
	display:none;
}
.self-portrait--mobile {
	filter: grayscale(1);
	width:200px;
	height:200px;
	border-radius:50%; 
	margin:0 auto; 
	display:block;
}
@include media(tablet) {
.about { position:relative; p { padding-right:20%; }}
	.self-portrait {
		display:block;
		position:absolute;
		width:18%;
		right:0px;	
		z-index:-1;
		top:50%;  
		right:40px;
		transform:translateY(-50%);
	}
	.self-portrait--mobile {
		display:none;
	}
}