.desktop-nav {
	display:none;
	width:100%;
	text-align:center;
	padding:15px 30px;
	z-index:10;
	transition: all 0.5s ease;
	background-color: transparent;
	position:absolute;
	a {
		font-size:rem(14);
	}
	span {
		margin-left:24px;
		margin-right:24px;
	}
	@include media(tablet) {
		display:block;

	}
	&.scrolled {
		position:fixed;
		background-color: $text-light;
	}
}
.mobile-nav { 
	position:fixed; 
	right:0;
	opacity:0.9;
	bottom:0px;
	height:0px; width:0px;
	z-index:6;
	width: 100%;
    background-color: $text-light; 
	a {
		display:block;
		font-size:rem(18);
		margin-bottom:30px;
		span {
			margin-left:24px;
			margin-right:24px;
		}
	}
	&.show {
		padding:20px; 
		padding-top:40px;
		height:300px;
		width:100%;
	}
	transition: .3s ease-in-out;
}
#toggle-nav {
		bottom:0px;
		right:0px;
		position:fixed;
		z-index:7;
		width:67px;
		height:67px;
		padding:0;
		margin:0;
		background:transparent;
		border:none;
		transform:rotate(0deg);
		transition: .5s ease-in-out;
		@include media(tablet) {
			display: none;
		}

		.line {
			position: absolute;
			left:21px;
			display: block;
			width:25px;
			height:2px;
			opacity:1;
			transform:rotate(0deg);
			transition:.25s ease-in-out;
			background:$text-dark;

			&:first-of-type {
				top:23px;
			}

			&:nth-of-type(2), &:nth-of-type(3) {
				top:32px;
			}

			&:nth-of-type(4) {
				top:41px;
			}
		}

		&.open-nav {
			.line {

				&:first-of-type {
					top:32px;
					left:50%;
					width:0%;
				}

				&:nth-of-type(2) {
					transform:rotate(45deg);
				}

				&:nth-of-type(3) {
					transform:rotate(-45deg);
				}

				&:nth-of-type(4) {
					top:32px;
					left:50%;
					width:0%;
				}
			}
		}
	}