body, a, input {
	font-family:$type-body;
	color:$text-dark;
	font-size:rem(16);

	@include media(tablet) { 
		font-size:rem(18);
	}
}
body p {
	line-height:27px;
}

.heading {
	font-size:32px;
	text-transform:uppercase;
	margin:20px auto 25px auto;
	text-align:center;
	@include media(tablet) {
		margin-top:40px;
	}
}

.orange {
	background-color:$brand-orange;
}

.yellow {
	background-color:$brand-yellow;
}

.light-gray {
	background-color:$background-gray;
}

.dark {
	background-color:$background-dark;
	color: $text-light;
}

.button {
	width:164px;
	height:55px;
	text-transform:uppercase;
	color:$text-light;
	display:block;
	text-align:center;
	padding: 17px;
	margin:0 auto;
	margin-top:50px;
}

footer {
	padding:15px;
	.social-links {
		float:right;
	}
}

.show-desktop { display:none; }
@include media(tablet) {
	.show-desktop { display:block; }
}