body, a {
	font-family:$type-body;
	color:$text-dark;
	font-size:rem(18);
}
body p {
	line-height:27px;
}

.heading {
	font-size:32px;
	text-transform:uppercase;
	margin:40px auto 20px auto;
	text-align:center;
}

.orange {
	background-color:$brand-orange;
}

.yellow {
	background-color:$brand-yellow;
}

.light-gray {
	background-color:$background-gray;
}

.button {
	width:164px;
	height:55px;
	text-transform:uppercase;
	color:$text-light;
	display:block;
	text-align:center;
	padding: 17px;
	margin:0 auto;
	margin-top:50px;
}

.show-desktop { display:none; }
@include media(tablet) {
	.show-desktop { display:block; }
}