.portfolio-slider {
			margin-left:-10px;
		margin-right:-10px;
		margin-bottom:20px;

	.slick-slide { margin: 0 15px; 	border:2px solid $background-gray;}
	.slick-list { margin: 0 -15px; }
	.image {
		width:100%; 
		height:205px;
		background-size:cover;
		background-repeat:no-repeat;
		background-position:center center;
		filter: grayscale(1); 
			transition: all 0.5s ease;
	}
	.portfolio-item {

		&.jumpq {
			cursor:pointer;
			&:hover {
				.image { filter:none; transform: scale(1.1); }
			}
		}
		background-color:$text-light;
		color:$text-dark;
		> a { cursor:pointer; display:block; overflow:hidden;
			&:hover {
				.image { filter:none; transform: scale(1.1); }
			}
		}
		.portfolio-item__text {
			padding:0px 20px 10px;
			p { line-height:20px; }
			.tag-container { margin-bottom:-10px; }
			.tag {
				display: inline-block;
			    padding: 7px;
			    border: 1px solid $brand-orange;
			    border-radius: 5px;
			    color:$brand-orange;
			    margin-right:10px;
			    margin-bottom:10px;
			    &:last-child {
			    	margin-right:0px;
			    }
			}
		}
		.app-badge {
			img {
				width:120px;
				margin-left:-5px;
			
				display:inline-block;
				margin-top:-7px;
			}
			svg {
				position: relative;
			    top: -7px;
			    left: -17px;
			    height: 32px;
			}
		}
	}
	i {
		font-size: rem(35); 
	    position: absolute;
	    top: 50%;
	    margin-top:-45px;
	    z-index: 3;
	    color:$brand-orange;
	    &.fa-chevron-circle-left {
	    	transform:translateX(-30%);
	    }	
	    &.fa-chevron-circle-right {
	    	right:0px;
	    	transform:translateX(30%);
	    }
	}
}