/** Colors */
$brand-orange: #d55f30;
$brand-yellow: #d29f22;
$text-dark: #333;
$text-light: #fff;
$background-dark: #333;
$background-gray: #d8d8d8;

/** Typography **/

@font-face {
    font-family: 'noto_monoregular';
    src: url('../../fonts/notomono-regular-webfont.woff2') format('woff2'),
         url('../../fonts/notomono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

$type-body: 'noto_monoregular', open sans, sans-serif; 

/** Font Sizes */

$base: 16; 
$heading: 32; 