/* --------------------------------------- 
  Default HTML Font Size
--------------------------------------- */

$document-font-size: 16;

/* ---------------------
 --------------------- */


/* --------------------------------------- 
  Pixels to Rems
--------------------------------------- */

@function rem($pixels, $context: $document-font-size) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}